@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply px-5 py-2 bg-dark-blue rounded-md font-semibold text-white transition-all duration-75 ease-in-out;
  &:hover{
    @apply bg-light-blue
  }
}

input {
  @apply p-2 bg-white rounded-md border-none outline-none;

  &:focus{
    outline: none;
  }
}

div:has(> input)  {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  @apply rounded-lg transition-all duration-75 ease-in-out;

  &:has(> input:focus){
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2);
  }
}
